<!-- ****** Objetivo del archivo ******** -->
<!-- Este archivo contiene los elementos del footer utilizado en todas las vistas -->

<footer class="page-footer font-small blue">
  <div class="footer-copyright text-center py-3">
    © 2022 Copyright:
    <a href="/"> Carlos Beverina</a>
  </div>
</footer>
